@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F0F0F0;
  height: 100dvh;
}

.big-shoulders display-<uniquifier> {
  font-family: "Big Shoulders Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

*{
  margin: 0;
}

::-webkit-scrollbar{
  display: none;

}
